<speak><break time = '.25s'/>Thank you for calling {{ site_name }}. <break time = '.25s'/>
If you are listening to this message our location is currently closed. <break time = '.25s'/>
For online services and more information <break time = '.10s'/> visit our website at workthefactory.com.</speak>

