<speak><break time = '.25s'/>Thank you for calling {{ site_name }} <break time = '.10s'/> located at
{{ site_address }} <break time = '.10s'/> in {{ site_city }}. <break time = '.5s'/> For location hours
<break time = '.10s'/> please press 1. <break time = '.5s'/> For status of your order <break time = '.10s'/>
please press 2. <break time = '.5s'/> To speak with a specialist at {{ site_name }} <break time = '.10s'/>
please press 0 <break time = '.10s'/> or stay on the line.</speak>

